<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKuiJ77-eX_YqQjDlfsNaNJGtPmjOzoIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>472347282081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r13.aqademiq</string>
	<key>PROJECT_ID</key>
	<string>aqademiq-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aqademiq-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472347282081:ios:c70fcacd12a8b48069fee0</string>
</dict>
</plist>